/* $lizardGradient1: hsl(261, 73%, 60%);
$lizardGradient2: hsl(261, 72%, 63%);
$cyan1: hsl(189, 59%, 53%);
$cyan2: hsl(189, 58%, 57%); */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(#1f3756, #141539);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 331px;
  padding: 20px;
  border: white solid 2px;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  border: #606e85 2px solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.logo {
  width: 45%;
}

.scoreBox {
  background: white;
  padding: 5px 20px 3px 20px;
  border-radius: 5px;
}

.scoreTitle {
  color: #2a46c0;
  text-align: center;
  font-size: 0.7em;
  font-weight: 700;
}

.score {
  color: #3b4363;
  text-align: center;
  font-size: 2.3em;
  font-weight: 700;
}

.playGround1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.triangle {
  width: 70%;
}

.playIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.playIcon {
  background: white;
  padding: 20px;
  border-radius: 50%;
  max-width: 50px;
  width: 20%;
}

.paperScissorsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -50px;
}

.paper {
  border: solid 11px #5671f5;
  -webkit-box-shadow: 0px 5px 0px #3958f3, inset 0px 5px 0 #dddddd;
          box-shadow: 0px 5px 0px #3958f3, inset 0px 5px 0 #dddddd;
  position: relative;
  left: -30px;
}

.scissors {
  border: solid 11px #eca922;
  -webkit-box-shadow: 0px 5px 0 #d48e0c, inset 0px 5px 0 #dddddd;
          box-shadow: 0px 5px 0 #d48e0c, inset 0px 5px 0 #dddddd;
  position: relative;
  right: -30px;
}

.rock {
  border: solid 11px #dd405d;
  -webkit-box-shadow: 0px 5px 0 #c0213e, inset 0px 5px 0 #dddddd;
          box-shadow: 0px 5px 0 #c0213e, inset 0px 5px 0 #dddddd;
  position: relative;
  bottom: 10px;
}

.rulesTitle {
  border: #606e85 2px solid;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  color: white;
}

.rulesPage {
  background: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.rulesTitle-rules {
  margin-top: 20%;
  color: #3b4363;
  font-size: 1.8em;
  font-weight: 700;
}

.close {
  margin-bottom: 10%;
}

.playground2 {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.youPicked, .housePicked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.emptyCircle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #141539;
}

.youPicked .playIcon, .housePicked .playIcon {
  position: static;
}

.youPickedTitle, .housePickedTitle {
  color: white;
  margin-top: 20px;
}

.playground2 .playIcon {
  display: none;
}

.playground2 .youPicked .paper {
  display: block;
}

.endGameBlock {
  display: none;
}

.endGameMessage {
  color: white;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 10px;
}

.playAgainBtn {
  color: #3b4363;
  text-align: center;
  background: white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}
/*# sourceMappingURL=style.css.map */